.Firstpage{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    

    &__container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &__image{
        height: 150px;
    }
}